a:link,a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}


.float-button {
    position: fixed;
    right: 77px;
    top: 700px;
}

.foodimage {
    height: 242px;
    width: 330px;
}
